<!DOCTYPE html>
<html>
    <head>
        <title>Bilibili Video Search</title>
    </head>
    <body>
        <div id="header">
            <img src="https://raw.githubusercontent.com/Fangfangwan/bilibili/master/logo.jpg" style="width:80px;height:60px;">
            <h1>Bilibili Video Search</h1>
            <p1>Enter either video category to generate word cloud, or video title to find top similar videos,
                or keywords to find top matching videos
            but only one at a time.</p1>
        </div>
        <div class="frame">
            <form method="get">
                {% csrf_token %}
                <table class="form">
                {{ form }}
                </table>
                <input type="submit" value="Submit" />
            </form>
        </div>
        <div class="results">
            {% if error %}
                <p>{{ error }}</p>
            {% endif %}
            {% if error_empty %}
                <p>{{ error_empty }}</p>
            {% endif %}
            {% if error_key %}
                <p>{{ error_key }}</p>
            {% endif %}
            {% if Animee %}
                <img src="https://raw.githubusercontent.com/Fangfangwan/bilibili/master/Wordcloud/wordcloudAnimee.jpg">
            {% endif %}
            {% if DailyLife %}
                <img src="https://raw.githubusercontent.com/Fangfangwan/bilibili/master/Wordcloud/wordcloudDailyLife.jpg">
            {% endif %}
            {% if Dance %}
                <img src="https://raw.githubusercontent.com/Fangfangwan/bilibili/master/Wordcloud/wordcloudDance.jpg">
            {% endif %}
            {% if Domestic %}
                <img src="https://raw.githubusercontent.com/Fangfangwan/bilibili/master/Wordcloud/wordcloudDomestic.jpg">
            {% endif %}
            {% if Entertainment %}
                <img src="https://raw.githubusercontent.com/Fangfangwan/bilibili/master/Wordcloud/wordcloudEntertainment.jpg">
            {% endif %}
            {% if Fashion %}
                <img src="https://raw.githubusercontent.com/Fangfangwan/bilibili/master/Wordcloud/wordcloudFashion.jpg">
            {% endif %}
            {% if Games %}
                <img src="https://raw.githubusercontent.com/Fangfangwan/bilibili/master/Wordcloud/wordcloudGames.jpg">
            {% endif %}
            {% if Kichiku %}
                <img src="https://raw.githubusercontent.com/Fangfangwan/bilibili/master/Wordcloud/wordcloudKichiku.jpg">
            {% endif %}
            {% if Movies %}
                <img src="https://raw.githubusercontent.com/Fangfangwan/bilibili/master/Wordcloud/wordcloudMovies.jpg">
            {% endif %}
            {% if Music %}
                <img src="https://raw.githubusercontent.com/Fangfangwan/bilibili/master/Wordcloud/wordcloudMusic.jpg">
            {% endif %}
            {% if Science %}
                <img src="https://raw.githubusercontent.com/Fangfangwan/bilibili/master/Wordcloud/wordcloudScience.jpg">
            {% endif %}
            {% if result %}
                <div class="results">
                    <table class="videos">
                    <tr>
                        {% for col in columns %}
                        <th>{{ col }}</th>
                        {% endfor %}
                    </tr>
                    {% for entry in result %}
                    <tr>
                        {% for col in entry %}
                        <td>{{ col }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <p class="num_results">Results: {{ num_results }}</p>
            {% endif %}
        </div>
    </body>
</html>
